header {
    width: 100%;
    height: 123px;
 
    .logo {
        width: 100%;
        max-width: 200px;
        height: auto;
        padding: 23px 143px;
    }
    
    @media only screen and (max-width: 375px) {
        .logo {
            max-width: 150px;
        }
    }
    
    @media only screen and (min-width: 1601px) {
        .logo {
            max-width: 3000px;
        }
    }
}

