header {
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box; 
 
    .logo {
        width: 100%;
        max-width: 200px;
        height: auto;
    }
    
    /* Responsive for iPhoneX */
    @media only screen and (max-width: 375px) {
        padding: 23px 20px;

        .logo {
            max-width: 150px;
        }
    }

    /* Responsive for Web1920 */
    @media only screen and (min-width: 1601px) {
        
        .logo {
            max-width: 300px;
        }
    }
}
