.search-container{
    padding-left: 50px;
    padding-bottom: 10px;

    input{
        border-radius: 30px;
        border: 1px solid black;
        width: 180px;
        height: 20px;
    }

    @media only screen and (max-width: 375px) {
        padding-left: 20px;
    }
}