<div class="footer">
    <img class="logo" src="assets/imgs/favicon.png" alt="My Logo">
    <div class="content">
        <span class="title"> Contact Us </span>
        <span class="details">
            <a href="mailto:john.doe@example.com"> john.doe&#64;example.com </a><br> Mon – Fri | 6:00am – 5:00 pm PT
        </span>
    </div>
    <div class="links">
        <a href="https://www.facebook.com/NextInsuranceIL?locale=he_IL" target="_blank">
            <img class="icon" src="assets/imgs/facebook-icon.png" alt="Icon">
        </a>
        <a href="https://www.linkedin.com/company/nextinsurance" target="_blank">
            <img class="icon" src="assets/imgs/linkedin-icon.png" alt="Icon">
        </a>
        <img class="icon" src="assets/imgs/twitter-icon.png" alt="Icon">
        <a href="https://www.instagram.com/nextinsurance/" target="_blank">
            <img class="icon" src="assets/imgs/instagram-icon.png" alt="Icon">
        </a>
        <img class="icon" src="assets/imgs/youtube-icon.png" alt="Icon">
    </div>
</div>
